apiVersion: apps/v1
kind: Deployment
status: {}
metadata:
  name: emmadozengrapes
  labels:
    name: emmadozengrapes
spec:
  selector:
    matchLabels:
      pod: emmadozengrapes
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        pod: emmadozengrapes
    spec:
      restartPolicy: Always
      containers:
        - name: emmadozengrapes
          image: 129087907154.dkr.ecr.us-east-1.amazonaws.com/kaniecki-blog:latest
          imagePullPolicy: Always
          resources: {}
          args:
            - /start
          env:
            - name: DJANGO_ACCOUNT_ALLOW_REGISTRATION
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_ACCOUNT_ALLOW_REGISTRATION
                  name: django-env
            - name: DJANGO_ADMIN_URL
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_ADMIN_URL
                  name: django-env
            - name: DJANGO_ALLOWED_HOSTS
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_ALLOWED_HOSTS
                  name: django-env
            - name: DJANGO_AWS_ACCESS_KEY_ID
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_AWS_ACCESS_KEY_ID
                  name: django-env
            - name: DJANGO_AWS_SECRET_ACCESS_KEY
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_AWS_SECRET_ACCESS_KEY
                  name: django-env
            - name: DJANGO_AWS_STORAGE_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_AWS_STORAGE_BUCKET_NAME
                  name: django-env
            - name: DJANGO_SECRET_KEY
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_SECRET_KEY
                  name: django-env
            - name: DJANGO_SECURE_SSL_REDIRECT
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_SECURE_SSL_REDIRECT
                  name: django-env
            - name: DJANGO_SERVER_EMAIL
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_SERVER_EMAIL
                  name: django-env
            - name: DJANGO_SETTINGS_MODULE
              valueFrom:
                configMapKeyRef:
                  key: DJANGO_SETTINGS_MODULE
                  name: django-env
            - name: MAILGUN_API_KEY
              valueFrom:
                configMapKeyRef:
                  key: MAILGUN_API_KEY
                  name: django-env
            - name: MAILGUN_DOMAIN
              valueFrom:
                configMapKeyRef:
                  key: MAILGUN_DOMAIN
                  name: django-env
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_DB
                  name: postgres-env
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_HOST
                  name: postgres-env

            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_PORT
                  name: postgres-env
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: emma.emmadozengrapes-postgres.credentials.postgresql.acid.zalan.do
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: emma.emmadozengrapes-postgres.credentials.postgresql.acid.zalan.do
                  key: password
              valueFrom:
                configMapKeyRef:
                  key: TWO_FACTOR_KEY
                  name: django-env
            - name: WEB_CONCURRENCY
              valueFrom:
                configMapKeyRef:
                  key: WEB_CONCURRENCY
                  name: django-env
