@font-face {
  font-family: Alysa;
  src: url(../assets/alysa.otf);
}

@font-face {
    font-family: Cinzel;
    src: url(../assets/Cinzel-Regular.ttf);
  }

@font-face {
  font-family: Lora-Regular;
  src: url(../assets/Lora-Regular.ttf);
}

@font-face {
  font-family: Lora-Italic;
  src: url(../assets/Lora-Italic.ttf);
}

.alysa-font {
  font-family: Alysa;
}


.loraitalic-font {
  font-family: Lora-Italic;
}

.lora-font {
  font-family: Lora-Regular;
}

.footer-signature{
  font-size: 3em;
  font-family: Alysa;
}

.homepage-header {
  font-size: 8em;
  font-family: Alysa;
  text-align: center;
}

.homepage-subheader {
    font-size: 2em;
    font-family: Lora-Regular;
    text-align: left;
}

.blogpost-header {
  font-size: 3em;
  font-family: Lora-Italic;
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.instagram-container {
    padding: 15px;
}

.instagram-photo {
    height: 300px;
    background-color: blue;
}

.emmadozenheader {
  background-color: rgb(253 251 251);
  margin-bottom: 10px;
}

.nav-item {
  font-family: Lora-Regular;
  text-decoration: none;
  color: black;
}

.nav-item > .nav-link {
  color: black;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center; 
}

.navigation-item-container {
  display: flex;
  flex-direction: row;
}

.social-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Applies only to small screen devices */
@media (max-width: 576px) {
  .navbar-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .navigation-item-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation-item-container > button {
    width: 100%;
  }

  .homepage-header {
    font-size: 4em;
  }
}