{% extends "base.html" %}

{% load wagtailcore_tags  wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container-fluid align-items-center">
        <h1 class="homepage-header">{{ page.title }}</h1>
        <h5 class="homepage-subheader" style="text-align: center;">{{ page.intro|richtext }}</h5>
        <div class="container">
            <div class="row">
                {% for post in page.get_children.reverse %}
                    {% with post=post.specific %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                {% with post.preview_image as main_image %}
                                    {% if main_image %}
                                    {% comment %} <div class="d-flex flex-row justify-content-center"> {% endcomment %}
                                        {% image main_image original as card_image %}
                                        <img src="{{card_image.url}}" height="350px" width="auto" />
                                    {% comment %} </div> {% endcomment %}
                                        
                                    {% endif %}
                                {% endwith %}
                                
                                <div class="card-body">
                                <h2 class="card-title loraitalic-font"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                                <p class="card-text lora-font">{{ post.intro }}</p>
                                <p class="card-text lora-font">
                                    <i class="fas fa-calendar mr-2"></i>
                                    {{ post.date }}
                                </p>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}