{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_page.css' %}">
{% endblock %}

{% block content %}
<div class="container align-items-center">

    <h1 class="blogpost-header">{{page.title}}</h1>

    <p class="text-muted mb-2">{{page.date}}</p>
    <p class="text-muted mt-2">{{page.author}}</p>

    {% with blocks=self.body %}
        {% for block in blocks %}
                {%if block.block_type == 'image'%}
                    <div class="row">
                        <div class="col-12">
                            {% image block.value width-800 as photo %}
                            <img src="{{photo.url}}" height="auto" width="100%" style="padding-top: 15px; padding-bottom: 15px"/>
                        </div>
                    </div>
                {% else %}
                    <section class="block-{{ block.block_type }} pt-3 pb-3">
                        {{ block }}
                    </section>
                {% endif %}
        {% endfor %}
    {% endwith %}

    {% if page.tags.all.count %}
        <div class="row">
            <div class="col-12 d-flex flex-row flex-wrap">
                {% for tag in page.tags.all %}
                    <a href="/blog?tag={{ tag }}" class="tag-link">
                        <div class="tag loraitalic-font">
                            <i class="fas fa-tag mr-1 d-flex align-items-center justify-content-center"></i>
                            {{ tag }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
</div>
{% endblock %}